{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "main"}}
<h1 class="display-1">Go is rules!</h1>
<p>There's nothing to see here yet!</p>
<p class="fs-2">It was the flexibility, how easy it was to use, and the really cool concept behind Go....</p>
<p class="text-end"><small>— Jaime Enrique Garcia Lopez, Senior Software Development Manager at Capital One</small></p>
{{end}}
